/***********************************/
/* Custom Properties */
:root {
  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: #fff;
  --black: #000;

  /* Fonts */
  --font-body: 'Poppins', sans-serif;
}

/***********************************/
/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: rgba(76, 78, 97, 0.5);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
  background-color: var(--very-light-gray);
}

img {
  width: 100%;
  display: inline-block;
}

/***********************************/
/* Typography */

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: rgba(76, 78, 97, 1);
}

.h1 {
  font-size: 2.4rem;
}

.h1 {
  display: grid;
  grid-gap: 0.8rem;
}

.h2 {
  font-size: 2rem;
}

.lead {
  font-size: 1.5rem;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
}
/***********************************/
/* Main Layout */
.container {
  width: 100%;
  max-width: 117.4rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
}

.section-content {
  display: grid;
  grid-gap: 7.6rem;
}

.section-summary {
  display: grid;
  grid-gap: 1.6rem;
  text-align: center;
}

.cards {
  display: grid;
  grid-gap: 3rem;
}

/***********************************/
/* Components */

/* Card */
.card {
  background-color: var(--white);
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
  border-radius: 0.8rem;
  border-top: 4px solid;
}

.card-body {
  padding: 2.8rem;
}

.card-img {
  width: 6rem;
  height: 6rem;
}

.card:nth-child(1) {
  border-color: var(--cyan);
}

.card:nth-child(2) {
  border-color: var(--red);
}

.card:nth-child(3) {
  border-color: var(--orange);
}

.card:nth-child(4) {
  border-color: var(--blue);
}

/***********************************/
/* Util Classes */
.fw-light {
  font-weight: 300;
}

.mb-sm {
  margin-bottom: 0.8rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.text-right {
  text-align: right;
}

/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .h1 {
    font-size: 3.6rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .h1 {
    grid-gap: 2.8rem;
  }

  .section {
    padding-top: 9.5rem;
  }

  .section-content {
    grid-gap: 6rem;
  }

  .section-summary {
    grid-gap: 3.2rem;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-rows: repeat(4, 11rem);
  }

  .card:nth-child(1) {
    grid-row: 2 / span 2;
  }

  .card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
  }

  .card:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 3 / span 2;
  }

  .card:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / span 2;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
